---
layout: default
---
<div style="margin-bottom: 5rem; margin-top: 4rem;">
    <h1 class="centered" style="color: rgb(255, 136, 0); font-family: Verdana, Geneva, Tahoma, sans-serif;">{{ page.title }}</h1>
    <div style="display:inline-block;" class="center-container">
        <p style="color: rgb(255, 222, 198); display: inline; margin-right: 10px;">Engine: {{ page.engine }}</p>
        <p style="color: rgb(255, 222, 198); display: inline; margin-right: 10px;">Date: {{ page.date | date: "%-d %B %Y" }}</p>
    </div>
</div>

<div>
    {{ content }}
</div>